{
    "plugins": [
      ["module-resolver", {
        "root": ["."],
        "alias": {
          "@components":"./components",
          "@redux": "./redux",
          "@views": "./views",
          "@reducers":"/src/redux/reducers"
        }
      }]
    ]
}

